@font-face
  font-family: 'Amdsdam'
  src: url("../amsdam/amsdam.ttf") format("opentype")

.main-slider
  display: flex

  justify-content: center
  align-items: center

  background: url(../images/slider-background.jpg) top center/cover no-repeat 
  
  height: 90vh

  color: #fff

.slider__main
  position: relative

.slider__item 
  flex-direction: column
  align-items: center
  row-gap: 2.5vh

.slider__suptitle
  font-family: 'Crimson Text', serif

  font-size: 1.8vh
  letter-spacing: .4vh

.slider__title
  font-family: 'Amdsdam'

  font-size: 3vh
  letter-spacing: .4vh

  position: relative

  padding: 0 2vh

  text-align: center

  &::before 
    content: ''

    position: absolute

    top: 0
    left: -.5vh

    height: 1vh
    width: 100%

    background-image: url('../images/wave-line.png')
    background-repeat: repeat-x
    background-size: 10vh

  &::after
    content: ''

    position: absolute

    bottom: 0
    left: -.5vh

    height: 1vh
    width: 100%

    background-image: url('../images/wave-line.png')
    background-repeat: repeat-x
    background-size: 10vh

.slider__btn
  margin-top: 4vh
  &:hover
    background-color: rgba(0, 0, 0, .5)

.slider__btn::after
  content: ''

  position: absolute

  bottom: -6vh
  left: 50%

  transform: translateX(-50%)

  background: url('../images/btn-arrow.png') center center/ cover no-repeat

  width: 1vw
  height: 6.8vh

.slider__arrow
  cursor: pointer

  font-size: 2vh

  position: absolute
  top: 43% 

  color: black

  background-color: #fff
  border-radius: 50%
  padding: 1vh 1.8vh

.next
  right: -15vw

.previous
  left: -14vw

@media (max-width: 991.98px)
  .next
    right: -10vw

  .previous
    left: -10vw

@media (max-width: 767.98px)
  .slider__arrow
    display: none

  .slider__suptitle
    font-size: 2vh
    text-align: center

  .slider__title
    font-size: 3.5vh

  