doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header
      p.something__in_your-eyes hello world
      p.pupupipi. 
        hello there
        it's an multiline text
        where i'm testing my knolege of pug
      a(href="#") something in your eyes