.header 
  .container
    .logo
      a.logo(href="index.html")
        img(src="../images/icon-logo.png", alt="main-logo")
      | atlantida 
    nav.header__nav
      a(href="#") Home
      a(href="#") About
      a(href="#") Services
      a(href="#") History
      a(href="#") Team
      a(href="#") Portfolio
      a(href="#") Prices
      a(href="blog.html") Blog
      a(href="#") Contact
    .header__links 
      a(href="https://www.facebook.com/" target="_blank")
        img(src="../images/facebook-icon.png", alt="fcb-logo")
      a(href="https://twitter.com/" target="_blank") 
        img(src="../images/tweeter-icon.png" alt="tweet-logo")
      a(href="https://www.behance.net/" target="_blank") 
        img(src="../images/behance-icon.png" alt="behance-logo")
  