.container
  a.logo(href="index.html")
  nav.nav
    a(href="#") Home
    a(href="#") About
    a(href="#") Services
    a(href="#") History
    a(href="#") Team
    a(href="#") Portfolio
    a(href="#") Prices
    a(href="#") Blog
    a(href="#") Contact
  