.header 
  .container
    a.logo(href="index.html")
    nav.header__nav
      a(href="#") Home
      a(href="#") About
      a(href="#") Services
      a(href="#") History
      a(href="#") Team
      a(href="#") Portfolio
      a(href="#") Prices
      a(href="blog.html") Blog
      a(href="#") Contact
    .header__links 
      a(href="https://www.facebook.com/" target="_blank")
        img(src="../images/facebook-icon.png", alt="")
      a(href="https://twitter.com/" target="_blank") 
      a(href="https://www.behance.net/" target="_blank") 
  