.header 
  .container
    a.logo(href="index.html")
    nav.header__nav
      a(href="#") Home
      a(href="#") About
      a(href="#") Services
      a(href="#") History
      a(href="#") Team
      a(href="#") Portfolio
      a(href="#") Prices
      a(href="#") Blog
      a(href="#") Contact
    .header__links 
      a(href="facebook.com" target="_blank") 
      a(href="twitter.com" target="_blank") 
      a(href="#") 
  